/******************** ANIMATION DE ROTATION DES FLEURS *****************************/
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/************** Animation de rotation sur chaque fleurs ****************/

.story__article::after,
.story h2::after,
#studio h2::before,
#studio h2::after,
.site-footer::before,
.site-footer::after,
.site-footer ul::after {
  position: absolute;
  animation: rotate 20s linear infinite;
  transform-origin: center center;
  // display: inline-block;
}

/* Positionnements de chaque fleurs */
.story h2::after {
  left: -6em;
  top: 6em;
}

.story h2::before {
  left: -7em;
}

#studio h2::before {
  left: -1em;
  top: 0;
}

#studio h2::after {
  right: 1em;
  top: 1.2em;
}

.site-footer::before {
  left: 4em;
  top: 0em;
}

.site-footer::after {
  right: -4em;
  bottom: 7.8em;
}

.site-footer ul::after {
  left: calc(50% - 323px);
  bottom: -28.5em;
  z-index: -1;
}
