section {
    opacity: 0; /*Invisible*/
    transform: translateY(-50px); /* Position vers le bas*/
    transition: opacity 0.8s ease-out, transform 0.8s ease-out; /* Animation */
  }
  
  /* Classe à ajouter via JavaScript pour activer l'animation*/
  .section-visible {
    opacity: 1;
    transform: translateY(0);
    animation: fade-in 0.8s ease-out forwards; /* Animation de fade-in*/
  }
  
  /* Définir une animation fade-in*/
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }