// Fonction pour la rotation
  @function rotateAnimation($duration: 20s, $timing: linear, $iteration: infinite) {
  @return $duration $timing $iteration;
}

// Mixin pour l'animation de fade-in
@mixin fadeIn($duration: 0.8s, $easing: ease-out) {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity $duration $easing, transform $duration $easing;

  &.section-visible {
    opacity: 1;
    transform: translateY(0);
    animation: fade-in $duration $easing forwards;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

// Mixin pour appliquer la rotation
  @mixin rotatingElement($duration: 20s, $timing: linear, $iteration: infinite) {
    animation: rotate #{rotateAnimation($duration, $timing, $iteration)};
}

section {
  @include fadeIn(); // Applique le mixin de fadeIn
}

/******************** ROTATION GÉNÉRALE ********************/
// Mixin pour les éléments avec rotation
@mixin rotate() {
  @include rotateAnimation(); // Applique la fonction de rotation
}

// Utilisation du mixin pour différents éléments

.site-footer {
  position: relative;
}

.story__article::after {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 15px;
  @include rotatingElement(); // Applique la rotation
}

.story h2::after,
#studio h2::before,
#studio h2::after,
.site-footer::before,
.site-footer::after {
  position: absolute;
  @include rotatingElement(); // Applique la rotation
}

// Ajustements de positionnement spécifiques
.story h2::after {
  left: 0.7em;
  top: 6em;
}

#studio h2::before {
  left: -1em;
  top: 0;
}

#studio h2::after {
  right: 1em;
  top: 1.2em;
}

.site-footer::before {
  left: 4em;
  top: -20em;
  z-index: 10;
}

.site-footer::after {
  right: -4em;
  bottom: 20em;
  z-index: 10;
}

// Keyframes pour la rotation
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// SECTION NOMINATION FESTIVAL

.nomination {
  position: relative;
  padding: 150px 0 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 0;
  justify-content: center;
  align-items: center;
  z-index: 1;

.nomination_oscars {
  position: relative;

  img {
    height: 100%;
  }

  h3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 3rem;
    text-align: left;
    font-size: 38px;
    }
  }
}
