/************** BOUTON MENU BURGER *************/

// Bouton Menu Burger
.menu-toggle {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 30px; // Ajustez si nécessaire
  z-index: 1000;

  .line {
    width: 40px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
    transition: scale 0.8s ease;
  }
}

/* Styles pour le menu overlay */
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff5e9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  z-index: 1000;
}

.menu-overlay.open {
  opacity: 1;
  visibility: visible;
}

/* Barre de navigation en haut pour le titre et la croix */
.overlay-header {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background-color: #ffd5a2;
}

/* Style pour le titre centré */
.overlay-header .site-title {
  margin: 0 auto; /* Centre le titre dans la barre */
  font-size: 21.5px;
  text-align: center;
  flex-grow: 1;
}

.site-title-primary {
  margin: 0;
}

.site-title-primary a {
  font-size: 21.5px;
  position: absolute;
  left: 38.6%;
  color: #000000;
  text-decoration: none;
  top: 24px;
}

.site-title {
  margin: 0;
}

.site-title a {
  position: absolute;
  left: 37.95%;
  color: #000000;
  text-decoration: none;
}

/* Style de la croix de fermeture */
#close-menu {
  background: none;
  border: none;
  color: #000000;
  font-size: 4em;
  cursor: pointer;
}

/* Style des liens de navigation */
.overlay-navigation ul {
  display: block;
  padding: 0;
  margin: 10px 0;
  text-align: center;
}

.overlay-navigation ul li {
  margin: 4em;
}

.overlay-navigation ul li a {
  font-size: 64px;
  color: #000000;
}

.overlay-navigation a:hover {
  filter: drop-shadow(0 0 4px #ff5c00);
}

.menu-logo-burger {
  position: relative;
  left: 33%;
}

/******** Animation des Fleurs ********/
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Classe générale pour chaque fleur */
.flower {
  position: absolute;
  width: 100px; /* Ajustez la taille selon vos besoins */
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  animation: rotate 20s linear infinite;
}

/* Positionnez chaque fleur individuellement avec des classes spécifiques */
.flower1 {
  background-image: url("/images/Orchid.png");
  top: 152px;
  left: -59px;
}

.flower2 {
  background-image: url("/images/Flower.png");
  top: 30%;
  left: 50%;
}

.flower3 {
  background-image: url("/images/Hibiscus-footer.png");
  top: 60%;
  right: 10%;
}
